[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clize = "~=4.2"
httpx = "~=0.18"
openpyxl = "~=3.0"
pywin32 = "~=301.0"
selenium = "~=3.141"
webdriver-manager = "~=3.4"

[dev-packages]
mypy = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
