[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]
mypy = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
